.cart {
    /* margin: 0, 8%; */
}

.cart-tag {
    text-align: center;
    margin-left: -2%;
    margin-top: 8%;
}

.cart-box {
    display: -webkit-box;
    margin: 0 30px;
    max-width: 100%;
}

.cart-box.shirt-pic {
    width: 72px;
    margin-left: 20px;
}

.image {
    width: 72px;
}

.label {
    width: 150px;
    margin-top: 20px;
    font-size: small;
    color: black;
}

.flex {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.cart-box.card-item {
    display: flex;
    justify-content: space-around;
    font-size: small;
    margin-right: 60px;
}

.option-list {
    font-size: small;
    background: none;
    border: none;
}

.label {
    flex: 1;
}

.cart-box.card-item {
    flex: 1;
    margin-top: -10px;
}

.select-qty,
.cart-box {
    color: gray;
}

.float {
    position: absolute;
    top: 430px;
    right: 30px;
}

.select-qty,
.item-size,
.item-prise {
    margin: auto;
}

.item-price {
    font-size: small;
}

.remove {
    position: absolute;
    max-width: 20px;
    margin-top: 20px;
    right: 0%;
}

.span {
    padding: 0 30px;
    font-size: small;
    font-weight: bold;
}



@media(max-width:768px) {
    .flex {
        width: 50%;
        flex-direction: column;
    }
    
    .label {
        margin-top: 35px;
    }
    .cart-box.card-item {
        margin-left: 60%;
        width: 100%;
    }
    .span {
        padding: 0%;
    }
    .cart-box{
        padding: 0px 0px;
    }
    .remove {
        margin-top: 32px;
    }
    
}
@media(max-width:360px) {
    .remove {
        margin-top: 32px;
    }
    .cart-box.card-item {
        flex-direction: column;
    }
    .cart-box.card-item {
        margin-top: 0px;
        margin-right: 20px;
    }
    .cart-box.card-item {
        margin-left: 1%;
    }
}