.checkout {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.info-section {
    margin-right: 50px;
    margin-left: 50px;
}

.checkout p {
    margin: 10px;
    color: gray;
}

.select-country select.option {
    font-size: 17px;
}

.order-desc div {
    line-height: 3;
}

.form,
.checkout p {
    font-size: small;
}

.input-box {
    position: relative;
    margin-top: 28px;
    margin-bottom: 8px;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgrey;
    background: transparent;
}

.input-box label {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .2s;
    color: gray;
    font: bold;
}

.order-desc {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-box input:focus~label {
    top: -27px;
    font-size: small;
}

.input-box input:focus {
    border-bottom: 2px solid #202020;
}

.expiry-date-container div,
.address div {
    width: 32%;
    display: inline-block;
}

.address div {
    width: 49%;
}

.form h4,
.select-country select.option,
.input-box input:focus~label {
    color: #202020;
}

.select-country div {
    width: 100%;
}

.select-country label {
    display: block;
}

.select-country.input-box input {
    padding-bottom: 15px;
}

.order-summary {
    padding: 10px;
    line-height: 2em;
}

.shop-button.shop-button-border {
    font-size: 14px;
    display: inline-block;
    margin-top: 30px;
    padding: 4px 40px 4px 40px;
    border: 2px solid #202020;
}

.select-country select {
    border: none;
    background: none;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
}

.billing-address {
    margin-top: 20px;
    line-height: 3em;
}

.billing-address input {
    font-size: medium;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0% 6% 0% 1%;
}

div.payment-section {
    margin-left: 15%;
}

@media(max-width:768px) {
    .order-summary.expiry-date-container,
    .form {
        font-size: small;
    }
    .order-summary.expiry-date-container,
    .form {
        margin-top: 22px;
    }
    .checkout {
        margin-top: 24px;
        font-size: 15px;
        margin-bottom: -30px;
    }
    .form {
        grid-template-columns: repeat(1, 1fr);
        margin: 0% 1%;
        margin-bottom: 15%;
    }
    div.payment-section {
        margin: 2%;
    }
    .payment-section,
    .info-section {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .shop-button.shop-button-border {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 20px 0;
        width: 100%;
        border: none;
        background-color: #172c50;
        color: white;
        text-align: center;
        font-size: 16px;
        height: 24px;
    }
}
