.item-description {
    margin: 60px 100px 500px 100px;
}

.select-size,
.select-quantity,
.item-description {
    display: flex;
    justify-content: space-between;
}

.shirt-pic {
    /* flex: 1; */
    width: 100%;
    
}

.shirt-desc {
    /* flex: 1; */
    padding: 17px 30px 0px 77px;
}

.select-size {
    margin-top: 35px;
}

.select-quantity {
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-bottom: 20px;
}

.select-size select,
.select-quantity select{
    outline: none;
    color: #202020;
    font-size: 16px;
}
.select-size,
.select-quantity{
    border-top: 1px solid lightgrey;
    height: 50px;
}

.description-section p,
.description-section dt,
.description-section ul {
    margin-top: 20px;
    color: grey;
    font-size: small;
    line-height: 1.5;
}

.item {
    width: 100%;
    padding: 15px 10px 10px 35px;
}

.description-section ul {
    margin-left: 60px;
}

.option {
    flex: 4;
    background-color: white;
    border: none;
    font-size: large;
}

.lable-size {
    flex: 1;
    color: gray;
    margin-top: 20px;
    margin-right: -15px;
    font-size: small;
}

.shirt-desc>label {
    font-size: 24px;
}

.item-price {
    margin-top: 15px;
    color: gray;
    font-size: 17px;
}

.description-section {
    margin-top: 40px;
}

.shop-button-border {
    margin-top: 10%;
    margin-left: 0%;
}

@media(max-width:768px) {
    .item-description {
        flex-direction: column;
        padding: 0 2px;
    }

    .shirt-desc>label {
        font-size: 20px;
    }

    .header {
        height: 40px;
    }

    .item-description {
        margin:25px 70px;
    }

    .item, .shirt-desc{
        padding: 0px;
        margin-top: 30px;
    }

    .shirt-desc{
        margin-bottom: 100px;
    }
    .shop-button.shop-button-border {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 20px 0;
        width: 100%;
        border: none;
        background-color: hsl(246, 45%, 18%);
        color: white;
        text-align: center;
        font-size: 16px;
        height: 24px;
    }
}
