
.item{  
    max-width: 100%; 
}

.item-price{
    padding-bottom:30px; 
    color: grey;
    font-size: small;
}

.item-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 100%;
    margin: 5px;
    text-align: center;
}


.item-container div{
    padding: 5px 45px;
}

.item-container h5{
    padding-top:15px; 
    color: #202020;
}

.lable{
    font-size: 16px;
    color: #202020;
}

.stock{
    display: block;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -10px;
}

.stock-items{
    font-size: 12px;
    line-height: 2em;
    display: block;
    color: grey;
    
}

.mens-section{
    margin-bottom: 10px;
}

@media(max-width:768px){
    .banner-image{
        display: none;
    }    

    .header{
        height: 10px;
    }

    .item-container{
        grid-template-columns: repeat(2,1fr);
    }

    .lable{
        font-size: 14px;
        margin-top:60px;
    }

    .item-container h5 {
        padding-top: 40px;
        margin-top: 10px;
    }

    .item-container div{
        padding: 10px 35px;
    }
    
} 


@media all and (max-width:360px){
    .item-container{
        grid-template-columns: repeat(1,1fr);
    }
}