* {
    font-family: sans-serif;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}

.nav-item-container a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #212121;
    text-decoration: none;
    display: inline-block;
}

.body {
    text-align: center;
}

.nav-item-container,
.navigation-item-container {
    display: flex;
}

.nav-item-container {
    justify-content: space-between;
    padding: 25px 25px;
}

.navigation-item-container {
    justify-content: center;
    margin-top: 8px;
}

.toggle a {
    display: none;
    font-weight: 300;
    font-size: 15px;
}

.navigation-item {
    padding: 10px 0px;
    font-weight: 500;
    font-size: 13px;
    margin: 0px 15px;
}

.toggle {
    width: 30px;
    height: 10px;
}

a.active {
    border-bottom: 2px solid black;
}

.shopping-cart {
    width: 20px;
    height: 20px;
}

.banner-image {
    max-width: 100%;
    height: 320px;
    object-fit: cover;
}

.lable {
    margin-top: 30px;
    margin-bottom: 28px;
    display: block;
    line-height: 2em;
}

.lable-style, .lable, .navigation-item {
    color:#202020;
}

.shop-button-border {
    border: 2px solid black;
}

.shop-button {
    padding: 10px 42px;
    color: hsl(0, 3%, 21%);
    font-size: 14px;
}

.shop-button.shop-button-border {
    display: inline-block;
    margin: auto;
}

.lable-button {
    width: auto;
}

.mens-section,
.ladies-section,
.mens-ladies-section {
    margin-bottom: 40px;
    margin-top: 20px;
}

.mens-ladies-section {
    display: flex;
}

.footer {
    text-align: center;
    font-size: small;
}

.footer label,
.footer {
    color: gray;
}

@media(max-width:768px) {
    .mens-section {
        margin-top: 55px;
    }
    .toggle a {
        display: block;
        color: #212121;
        font-size: 20px;
    }
    .navigation-item-container {
        display: none;
    }
    .header {
        height: 20px;
    }
    .logo {
        padding-left: 0px;
    }
}

@media(max-width:360px) {
    .stock-items {
        left: 44%;
    }
}
